no.nav.security.oidc:
  issuers: intern
  issuer.intern:
    discoveryurl: https://security-token-service.nais.preprod.local/rest/v1/sts/.well-known/openid-configuration
    accepted_audience: ${GYLDIGE_SRVBRUKERE}
    cookie_name: ID_token

SECURITYTOKENSERVICE_URL: https://sts-q1.preprod.local/SecurityTokenServiceProvider/
STS_REST_URL: https://security-token-service.nais.preprod.local
AKTOERID_URL: https://app-q1.adeo.no/aktoerregister/api/v1
PERSON_V3_URL: https://wasapp-q1.adeo.no/tpsws/ws/Person/v3