no.nav.security.oidc:
  issuers: intern
  issuer.intern:
    discoveryurl: https://security-token-service.nais.preprod.local/rest/v1/sts/.well-known/openid-configuration
    accepted_audience: ${GYLDIGE_SRVBRUKERE}
    cookie_name: ID_token

AAD_URL: https://login.microsoftonline.com/navq.onmicrosoft.com/oauth2/token
SECURITYTOKENSERVICE_URL: https://sts-q1.preprod.local/SecurityTokenServiceProvider/
AKTOERID_URL: https://app-q0.adeo.no/aktoerregister/api/v1
PERSON_V3_URL: https://wasapp-q0.adeo.no/tpsws/ws/Person/v3
DOKARKIV_V1_URL: https://dokarkiv-q0.nais.preprod.local
